<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="100%"/>
    </a>
</header>
<h1>ADMIN/h1>


<table>
    <thead>
    <tr>
        <th>
            1
        </th>
        <th>
            2
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${userList}">
        <th>${users.username}</th>
        <td>Hej</td>
        <td>${orders.orders_id}</td>
        <td>Knap</td>
    </tr>
    </tbody>

</table>

</body>
</html>
