<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="100%"/>
    </a>
</header>
 <p class="topmenu-right"></p>
<a href="admin.html">Kunder</a>
<a href="admin.html">Bestillinger</a>

<p class="topmenu-left"><h1> Velkommen, <span th:text="${session.currentUser.username}"></span></h1></p>

<h1>ADMIN</h1>


<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order: ${orderList}">
        <td>${order.orders_id}</td>
        <td>Knap</td>

    </tr>
    </tbody>
</table>

</body>
</html>
