<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<a href="index.html" th:href="@{/}">
    <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="100%"/>
</a>
<h1>Velkommen til Olser Cupcakes</h1>



<h2>Login:</h2>

<form method="post">
    <input type="text" name="username" placeholder="Email"/>
    <input type="password" name="password" placeholder="Kodeord"/>
    <button type="submit" formaction="/login">Login</button>

    <div><p th:text="${message}"></p></div>
</form>


<h2>Opret bruger:</h2>


<form method="get">
    <input type="text" name="username2" placeholder="Email"/>
    <input type="password" name="password2" placeholder="Kodeord"/>
    <input type="password" name="password3" placeholder="Gentag kodeord"/>
    <button type="submit" formaction="index.html">Opret bruger</button>
</form>


</body>
</html>
