<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="100%"/>
    </a>
</header>
<p class="topmenu-right">
    <a href="index.html" th:href="@{/logout}">Log ud</a>
    <a href="info.html">Info</a>
    <a href="order.html">Kurv</a></p>

<p class="topmenu-left"> Velkommen, <span th:text="${session.currentUser.username}"></span></p>


<h1>Velkommen til OLSKER Cupcakes</h1>


<!--<p>Bestil her:</p>-->

<!--<form action="/order">-->
<!--    <label for="top">Vælg top:</label>-->
<!--    <select name="top" id="top">-->
<!--        <option value="Chokolade">Chokolade pris: 5.00</option>-->
<!--        <option value="Vanilje">Vanilje pris: 5.00</option>-->
<!--        <option value="Muskatnød">Muskatnød pris: 5.00</option>-->
<!--        <option value="Pistachie">Pistachie pris: 6.00</option>-->
<!--        <option value="Mandel">Mandel pris: 7.00</option>-->
<!--    </select>-->

<!--    <label for="bottom">Vælg bund:</label>-->
<!--    <select name="top" id="bottom">-->
<!--        <option value="Chokolade">Chokolade pris: 5.00</option>-->
<!--        <option value="Blåbær">Blåbær pris: 5.00</option>-->
<!--        <option value="Hindbær">Hindbær pris: 5.00</option>-->
<!--        <option value="Crispy">Crispy pris: 6.00</option>-->
<!--        <option value="Jordbær">Jordbær pris: 6.00</option>-->
<!--        <option value="Rum/rossin">Rum/rossin pris: 7.00</option>-->
<!--        <option value="Appelsin">Appelsin pris: 8.00</option>-->
<!--        <option value="Citron">Citron pris: 8.00</option>-->

<!--    </select>-->
<!--    <br><br>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

<table>
    <thead>
    <tr>
        <th>
            1
        </th>
        <th>
            2
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="orders: ${orderList}">
        <th>${orders.order_id}</th>
        <td>Hej</td>
        <td>${orders.orders_id}</td>
        <td>Knap</td>
    </tr>
    </tbody>

</table>

<table>
    <thead>
    <tr>
        <th>1</th>
        <th>2</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="orders: ${orderList}">
        <td th:each="text">${orders.order_id}</td>
    </tr>
    </tbody>
</table>


<p th:if="${session.currentUser != null }">
    <a href="index.html" th:href="@{/logout}">Log ud</a>
</p>

<!--<form method="post">-->
<!--    <input type="text" name="order" placeholder="Enter"/>-->
<!--    <button type="submit" formaction="addOrder">Order</button>-->
<!--    -->
<!--</form>-->
<form method="post">
    <label for="top">Vælg top:</label>
    <select name="top" id="top">
        <option value="Chokolade">Chokolade pris: 5.00</option>
        <option value="Vanilje">Vanilje pris: 5.00</option>
        <option value="Muskatnød">Muskatnød pris: 5.00</option>
        <option value="Pistachie">Pistachie pris: 6.00</option>
        <option value="Mandel">Mandel pris: 7.00</option>
    </select>

    <label for="bottom">Vælg bund:</label>
    <select name="top" id="bottom">
        <option value="Chokolade">Chokolade pris: 5.00</option>
        <option value="Blåbær">Blåbær pris: 5.00</option>
        <option value="Hindbær">Hindbær pris: 5.00</option>
        <option value="Crispy">Crispy pris: 6.00</option>
        <option value="Jordbær">Jordbær pris: 6.00</option>
        <option value="Rum/rossin">Rum/rossin pris: 7.00</option>
        <option value="Appelsin">Appelsin pris: 8.00</option>
        <option value="Citron">Citron pris: 8.00</option>

    </select>
    <button type="submit" formaction="/order">Order</button>
</form>

</body>
</html>
